:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translateX(-50%) translateY(-50%);
}
.button{
position: absolute;
}
.login {
  min-width: 250px;

}

