<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Available</mat-card-title>
    <mat-card-subtitle>{{ appointment?.date | date : 'E MM/dd'}} - Slot {{appointment === undefined ? '' : appointment.slot + 1 }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <!-- if appointment is defined then it will evaluated to true , then it will continue to evaluate
      the next expression then the appointment is valid and the id too so we can call this successfully
    -->
    <button mat-button color="peimary" (click)="appointment && ui.bookAppt(appointment)"><mat-icon>check</mat-icon></button>
  </mat-card-actions>
</mat-card>
